<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, max-age=0, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <!--    <meta http-equiv="Expires" content="Fri, 01 Jan 1990 00:00:00 GMT"/>-->


    <title>{{title}}</title>
    <meta name="description" content="XT Web Support">

    <!-- /// Favicons ////////  -->
    <link rel="shortcut icon" href="https://xtended.studio/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:400,300,200,700,800">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">




    <!-- /// Template CSS ////////  -->
    <link rel="stylesheet" href="https://xtended.studio/assets/css/reset.css">
    <link rel="stylesheet" href="https://xtended.studio/assets/css/grid.css">
    <link rel="stylesheet" href="https://xtended.studio/assets/css/elements.css">
    <link rel="stylesheet" href="https://xtended.studio/assets/css/layout.css?v=2.8">
    <link rel="stylesheet" href="https://xtended.studio/assets/css/components.css">
    <link rel="stylesheet" href="https://xtended.studio/assets/css/wordpress.css">


    <!--   <script src="//code.jivosite.com/widget/LCCsqckFdb" async></script>-->
</head>
<body class="sticky-header header-style-1 footer-style-1 upd ">

<noscript>
    <div class="javascript-required">
        Кажется, JavaScript отключен в Вашем браузере, пожалуйста включите его в настройках для оптимальной работы сайта.
    </div>
</noscript>

<!--[if lte IE 8]>
<div class="modern-browser-required">
    Вы используете старую версию <strong>браузера</strong>. Пожалуйста,
    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">обновите ваш браузер</a>
    для улучшения работоспособности.
</div>
<![endif]-->

<div id="wrap">
    <div id="header-wrap1">
        <div id="header">


            <form action="#" id="custom-search-form" method="get" role="search">
                <input type="text" value="" name="s" id="s" placeholder="type and press enter to search...">
                <input type="submit" id="custom-search-submit" value="">
            </form>

            <div class="container">
                <div class="row-menu">
                    <div class="span3">

                        <!-- // Logo // -->
                        <div id="logo">
                            <a href="https://xtended.studio/index.html">
                                <p class="log">
  <span class="slog">
    Xtended Studio
  </span>
                                </p>

                            </a>
                        </div>

                    </div><!-- end .span3 -->
                    <div class="span9">

                        <!-- // Mobile menu trigger // -->

                        <a href="#" id="mobile-menu-trigger">
                            <!--                                <i class="fa fa-bars"></i>-->
                            <div id="nav-btn" class="menu-btn">
                                <span class="menu-btn__el menu-btn__el_1"></span>
                                <span class="menu-btn__el menu-btn__el_2"></span>
                                <span class="menu-btn__el menu-btn__el_3"></span>
                            </div>
                        </a>


                        <!-- // Menu // -->

                        <nav class="navbar">
                            <ul class="sf-menu fixed" id="menu">

                                <li class="dropdown current">
                                    <a class="navbar__items-links" href="https://xtended.studio/#main">Главная</a>
                                </li>

                                <li class="dropdown">
                                    <a class="navbar__items-links" id="service" href="https://xtended.studio/#services">Услуги</a>
                                </li>

                                <li class="dropdown">
                                    <a class="navbar__items-links" id="why" class="why" href="https://xtended.studio/#whyus">Подписки</a>
                                </li>

                                <li class="dropdown">
                                    <a class="navbar__items-links" id="works" href="https://xtended.studio/#portfolio">Портфолио</a>
                                </li>

                                <li class="dropdown">
                                    <a class="navbar__items-links" id="about-us" href="https://xtended.studio/#about">О нас</a>
                                </li>

                                <li class="dropdown">
                                    <a id="intouch" href="https://xtended.studio/#contact">Контакты</a>
                                </li>

                            </ul>
                            <div class="dropdown nav-contact ">
                                <p class="intouch phone no-mb">+380730732627</p>
                                <p class="intouch phone no-mb">+380502508834</p>
                            </div>
                        </nav>

                    </div><!-- end .span9 -->
                </div><!-- end .row -->

            </div><!-- end .container -->

            <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        </div><!-- end #header -->
    </div><!-- end #header-wrap -->
    <div id="content">

        <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        <div class="parallax parallax-enabled types types2" id="page-header" style="background-position: 49% 0px;">

            <div class="container">
                <div class="row">
                    <div class="span12">

                        <div class="page-header-content">

                            <h3>Тип сайта</h3>

                            <div class="breadcrumbs">

                                <ul>
                                    <li class="current">Лендинг</li>
                                </ul>

                            </div><!-- end .breadcrumbs -->

                        </div><!-- end .page-header-content -->

                    </div><!-- end .span12 -->
                </div><!-- end .row -->
            </div><!-- end .container -->

        </div><!-- end #page-header -->


        <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        <div class="main">
            <div class="container">

                <div class="row">

                    <div class="span12">
                        <div id="info">

                            {{{body}}}

                        </div>




                        <form id="contact-form" class="c-form" name="contact-form">


                            <fieldset>
                                <div id="formstatus"></div>
                                <p class="form-p">
                                    <input class="span12" type="text" id="name" name="name" value="" placeholder="Имя" aria-required="true" aria-invalid="true">
                                </p>
                                <p class="form-p">
                                    <input class="span12" type="text" id="phone" name="phone" value="" placeholder="Номер телефона" aria-required="true" aria-invalid="true" im-insert="true">
                                </p>
                                <p class="form-p" id="txtarea">

                                    <textarea id="message" class="span12" placeholder="Дополнительная информация о проекте" name="message" rows="7" cols="25"></textarea></p>
                                <p class="last" id="btns">

                                    <a id="submit-phone" class="btn sub">Заказать</a></p>
                            </fieldset>
                        </form>
                    </div>
                </div><!-- end .row -->
            </div>
        </div><!-- end #content -->
    </div>
</div>


<div id="footer-bottom">

    <!-- /// FOOTER-BOTTOM     ////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div class="container">
        <div class="row">
            <div class="span8" id="footer-bottom-widget-area-1">

                <div class="widget widget_text">

                    <div class="textwidget">
                        <p class="copyright last">
                            <img class="foot" src="https://xtended.studio//assets/images/footer-logo.png?v=1.0" alt="footer logo">
                            <small>since 2016 <br><span class="all">All rights reserved</span></small>

                        </p>


                    </div><!-- end .textwidget -->

                </div><!-- end .widget_text -->

            </div><!-- end .span8 -->
            <div class="span4" id="footer-bottom-widget-area-2">

                <div class="widget widget_pages">

                    <ul class="foot-links">

                        <li class="page_item items">
                            <a href="#" class="f-text">Условия использования</a>
                            <a href="#" class="f-text">Политика компании</a>
                        </li>

                        <li class="page_item items">
                            <a href="https://xtended.studio//vacancy.html" class="f-text r-1">Вакансии</a>
                            <a href="#" class="f-text">Cкачать Бриф</a>
                        </li>


                    </ul>

                </div>

            </div><!-- end .span4 -->
        </div><!-- end .row -->
    </div><!-- end .container -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div><!-- end #footer-bottom -->



<a id="order-top" href="#" class="heartBeat">
    <img src="https://xtended.studio//assets/images/phone.png" class="contact-btn" alt="Contact-icon">
</a>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://xtended.studio/assets/js/jquery.inputmask.min.js"></script>

<!-- /// Custom JS ////////  -->
<!--<script src="https://xtended.studio/assets/js/main.js?v.1.8"></script>-->


</body>
</html>

