<div class="order-list">
<div class="order-info">
    <p class="p-header order-head no-mb">Вы выбрали тип сайта:</p>
    <div class="site viewable type clicked clicked-order add">
        <span class="site-title">{{siteType}}</span>
    </div>
    <p class="s-str">{{siteTypePrice}} ₴</p>
</div>

</div>